<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>From EJS</h1>
<p>Bangday</p>
<img src="/image/thiennhien.jpg"/>

</body>
</html>